<div class="container">
	<h2>Product</h2>

	<p>Ref: <%= product.ref %></p>
	<p>Name: <%= product.name %></p>
	<p>Price: <%= product.price %></p>
	<p>Label: <%= product.label %></p>

	<br>
	<a href="/products/add">Add another product</a>
</div>